<section>
	<h1>Graphs</h1>
	<form action="{{root}}graphs" method="POST">
		<p><input type="text" name="metrics-query" value="{{.Query}}"
		       class="query" placeholder="Search metrics" required />
		<button type="submit">GO</button></p>
{{if .Attributes}}
	<p><b>Group by:</b>
	{{range $a, $v := .Attributes}}
		<input type="checkbox" name="group-by" value="{{$a}}" {{if $v}}checked{{end}} />{{$a}}
	{{end}}
	</p>
{{end}}
	</form><br />
{{if .Metrics}}
	<img src="{{root}}graph/q{{urlquery .QueryOptions}}/{{urlquery .Metrics}}" border="0" />
{{end}}
	<p>&nbsp;</p>
</section>
