<section>
	<h1>Graphs</h1>
	<form action="/graphs" method="POST">
		<input type="text" name="metrics-query" value="{{.Query}}"
		       class="query" placeholder="Search metrics" required />
		<button type="submit">GO</button>
		<br />
		<input type="text" name="group-by" value="{{.GroupBy}}"
		       class="query" placeholder="Group by" />
	</form><br />
{{if .Metrics}}
	<img src="/graph/q{{urlquery .QueryOptions}}/{{urlquery .Metrics}}" border="0" />
{{end}}
	<p>&nbsp;</p>
</section>
